.main-light {
	margin-left: 110px;
	color: var(--title-color);
}
.main-dark {
	margin-left: 110px;
	background-color: rgba(0, 0, 0, 0.768);
	color: white;
}

@keyframes gelatine {
	from,
	to {
		transform: scale(1, 1);
	}
	25% {
		transform: scale(0.9, 1.1);
	}
	50% {
		transform: scale(1.1, 0.9);
	}
	75% {
		transform: scale(0.95, 1.05);
	}
}

.button-theme {
	z-index: 10;
	font-size: 3rem;
	background: none;
	position: absolute;
	top: 5%;
	width: 48px;
	height: 48px;
	left: 85%;
	transition: 0.5s;
	color: var(--first-color);
	border-radius: 100%;
}

.button-theme:hover {
	animation: gelatine 0.9s;
}
